:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #5093ed;

  --color-light-white-1: #f3f3f3;
  --color-light-white-2: #ededed;
  --color-light-white-3: #e1e1e1;
  --color-light-white-4: #d8d8d8;
  --color-light-gray-1: #b4b4b4;
  --color-light-gray-2: #888888;
  --color-light-gray-3: #666666;

  --color-dark-gray-1: #17171b;
  --color-dark-gray-2: #202026;
  --color-dark-gray-3: #313136;
  --color-dark-gray-4: #47484f;
  --color-dark-gray-5: #85868e;
}
